<div class="col-sm-6 col-md-4">
    <div class="col-md-12 mk-white-bg">
        <h4 class="mk-blue text-capitalize"><%- brand %></h4>
        <p class="text-capitalize"><%- locality %>, <%- city %>, <%- country %></p>
        <img src="<%= creative %>" class="full-img" width="100%" alt="<%- brand %>">
        <h4><%- offer %></h4>
        <button type="submit" class="btn btn-secondary btn-block" data-id="<%= id %>">DOWNLOAD VOUCHER</button>
    </div>
</div>